@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html {
    height: 100%;
    width: 100%;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
}























.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }